In [32]:
import pandas as pd

In [33]:
df = pd.read_csv('binnedatmosphericPressure_interpolated_data.csv')

In [34]:
df.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,473,474,475,476,477,478,479,latitude,longitude,hex_id
0,0,381.297216,381.411697,381.574261,381.789055,382.056395,382.372673,382.730591,383.119720,383.527316,...,423.118559,423.172481,423.195405,423.195342,423.182973,423.170593,423.170957,18.437118,73.74385,8860885637fffff
1,1,380.861388,380.982039,381.149225,381.366876,381.635187,381.950530,382.305694,382.690429,383.092253,...,422.434338,422.494183,422.524263,422.532223,422.528320,422.524402,422.532773,18.437118,73.74606,8860885637fffff
2,2,380.736907,380.859320,381.027826,381.246293,381.514881,381.829957,382.184334,382.567814,382.967990,...,422.238910,422.300446,422.332571,422.342822,422.341338,422.339836,422.350495,18.437118,73.74827,886088544bfffff
3,3,380.670628,380.793979,380.963188,381.182089,381.450824,381.765758,382.119717,382.502529,382.901827,...,422.134856,422.197293,422.230506,422.241977,422.241780,422.241566,422.253442,18.437118,73.75048,886088544bfffff
4,4,380.368183,380.495815,380.668232,380.889116,381.158524,381.472810,381.824858,382.204620,382.599913,...,421.660038,421.726584,421.764764,421.781803,421.787481,421.793138,421.810571,18.437118,73.75269,8860885635fffff

In [35]:
def to_geojson(longitude, latitude):
        return '{"type": "Polygon", "geometry": {"type": "Polygon", "coordinates": [[[' + str(longitude) +str(',') + str(latitude) + ']]]}}'

In [36]:
df['geojson'] = df.apply(lambda row: to_geojson(row['longitude'], row['latitude']), axis=1)

In [37]:
df['geojson'][0]

'{"type": "Polygon", "geometry": {"type": "Polygon", "coordinates": [[[73.74385,18.437118]]]}}'

In [38]:
df = df.drop('hex_id', axis=1)

In [39]:
df.to_csv('Atm_Pr_geojson_data.csv')

In [40]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

In [41]:
db_config = {
    'dbname': 'postgresdb',
    'user': 'postgres',
    'password': 'timescaledbpg',
    'host': '65.2.69.78',  # Replace with your database host
    'port': 32588          # Replace with your database port
}

In [42]:
connection = psycopg2.connect(**db_config)

In [43]:
table_name = 'test_atm_press_pune_aqm_geojson'

In [44]:
engine = create_engine(f'postgresql+psycopg2://{db_config["user"]}:{db_config["password"]}@{db_config["host"]}:{db_config["port"]}/{db_config["dbname"]}')

In [45]:
df.to_sql(table_name, engine, if_exists='replace', index=False)

50